

:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --adress-color: rgba(255, 255, 255, 0.6);
    --background-basic: #ffffff;
    --background-secondary: #2f303a;
    --background-button: #f5f4fa;
    --button-hover-color: #188ce8;
    --background-svg: #afb1b8;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

