.checkbox {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;

    &__icon {
        display: inline-block;
        margin-right: 8px;

        width: 16px;
        height: 15px;
        border-radius: 2px;

        border: 2px solid var(--title-color);
        transition: background-color var(--timing-function), border-color var(--timing-function);

        .checkbox__input:checked~& {
            background-color: var(--accent-color);
            border-color: var(--accent-color);
            background-size: contain;
        }
    }



    &__input {
        margin-right: 7px;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}