.header {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 80px;

            &_desktop-nav {
                    display: none;
            
                    @media (min-width: 481px) {
                        display:flex;
                        width: 100%;
                        justify-content: space-between;
                    }
            
                }
}