.preview {
    padding-top: 0;

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__overlay {
        position: relative;
    }

    &__overlay::before {
        content: '';
        bottom: 0;
        left: 0;

        position: absolute;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
    }

    &__text {
        position: absolute;
        left: 91px;
        bottom: 27px;
        display: inline-block;

        color: var(--background-basic);
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-align: center;

        margin: 0;
        text-transform: uppercase;
    }
}