.sing-up {
    &__title {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--background-basic);

        margin-bottom: 20px;
    }

    &__input {
        width: 358px;
        height: 50px;
        padding: 15px 16px;
        background-color: var(--background-secondary);

        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: var(--background-basic);

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        transition: border var(--timing-function);
    }

    &__thumb {
        position: relative;
        align-items: center;
    }

    &__button {
        padding: 10px 28px;
        width: 200px;
        height: 50px;

        text-align: left;
    }

    &__button:hover,
    &__button:focus {
        background-color: var(--background-svg);
    }

    &__button-icon {
        position: absolute;
        margin-left: 10px;
        top: 13px;
        right: 28px;
        width: 24px;
        height: 24px;
    }

}