.site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;

    &__logo {
        color: #000000;
        font-family: Raleway, cursive;
        font-size: 26px;
        line-height: 1.2;

        margin-right: 93px;
    }

    &__color-logo {
        color: var(--accent-color);
    }

    &__list .site-nav__current {
        color: var(--accent-color);
    }

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        color: var(--title-color);
        display: flex;

        position: relative;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color var(--timing-function);
    }

    &__current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }

    &__link:focus,
    &__link:hover {
        color: var(--accent-color);
    }
}