.footer {
    background-color: var(--background-secondary);
    padding: 60px 0;

    &__container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}