.hero {
    text-align: center;
    padding: 200px 0;
    background-color: var(--background-secondary);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/first-page/header/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: var(--background-basic);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.5;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        width: 696px;
        height: 120px;
        margin: 0 auto 30px;
    }

    & .button:hover,
    & .button:focus {
        background-color: var(--background-svg);
    }

}