.team {
    background-color: var(--background-button);

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__thump {
        background-color: var(--background-basic);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;

        color: var(--title-color);
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;

        padding-bottom: 0;
        margin-bottom: 16px;
    }
}